$primaryColor: #886CFF;

.Viewing-player {
  width: 100%;
  display: inline-flex;

  span {
    color: white;
    font-weight: 800;
  }

  .Player-logs {
    width: 50%;

    .Inventory-actions {
      ul {
        width: 100%;
        list-style: none;
        display: inline-flex;
      }
      ul:nth-child(1) {
        margin-left: 15px;
      }
      ul:nth-child(2) {
        margin-top: 15px;
        justify-content: space-around;
      }

      button {
        margin-left: 5px;
      }
    }

    input, select {
      margin: 5px;
      height: 40px;
      color: white;
      background: none;
      border: none;
    }

    input:focus, select:focus {
      outline: none;
    }
  }
}

.logs {
  width: calc(100% - 20px);
  padding: 10px;
  overflow-x: scroll;
  ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    color: #acacac;
    background: #121418;
    border: 1px solid #2a2e38;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 3px;

    li {
      padding: 10px 5px;
      width: calc(100% - 200px);
    }
    li:first-child {
      width: 200px;
    }
    li:nth-child(2) {
      font-weight: 800;
      color: white;
      white-space: nowrap;
    }
  }
}

.Player-overview {
  width: 50%;
  border-right: 1px solid $primaryColor;

  ul {
    list-style: none;
    display: inline-flex;
    width: calc(100% - 40px);
    justify-content: space-between;
    padding: 0 20px 0 20px;
    color: white;
    margin-bottom: 10px;

    li:nth-child(odd) {
      font-weight: 800;
    }
  }
}

.Player-overview-full {
  width: 100%;
  border-right: none;
}

.Leaderboard-admin {
  width: 100%;
  display: inline-flex;

  span {
    color: white;
    font-weight: 800;
  }

  .Leaderboards-overview {
    width: 50%;
    border-right: 1px solid $primaryColor;

    ul {
      list-style: none;
      display: inline-flex;
      width: calc(100% - 40px);
      justify-content: space-between;
      padding: 0 20px 0 20px;
      color: white;
      margin-bottom: 10px;

      li:nth-child(odd) {
        font-weight: 800;
      }
    }

    select {
      background: none;
      border: none;
      color: white;
    }
  }

  .Leaderboard-blacklist {
    width: 50%;
  }


}

.Blacklist {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;

  ul {
    width: 100%;

    li {
      width: 100%;
      background: #121418;
      border: 1px solid #2a2e38;
      border-radius: 5px;
      padding: 10px 0;
      color: #acacac;
      font-weight: 800;
      margin-top: 3px;
    }
  }
}


.PromoTimerContainer {
  height: 100px;
  margin: 0 0 25px 10px;
  display: inline-flex;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;

  p {
    color: black !important;
  }

  ul {
    list-style: none;
    margin: 0px;
    font-family: "Noto Sans", "Inter", "Poppins", "Montserrat", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    //border: 2px solid #333845;
    height: 100px;
    width: 100px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    background: #404558 !important;
    color: white;
    margin: 0 10px;

    li {
      text-transform: uppercase;
      font-size: 12px;
    }

    .TimeValue {
      color: $primaryColor;
      font-weight: 800;
      font-size: 42px;
    }
  }

  span {
    font-size: 21px;
  }
}

.Games-search-result {
  height: 350px;
  width: 585px;
  overflow-y: scroll;
  overflow-x: hidden;

  .Result-entry {
    background: #121418;
    border: 1px solid #2a2e38;
    border-radius: 5px;
    padding: 5px 0;
    color: #acacac;
    cursor: pointer;

    ul {
      list-style: none;
      display: inline-flex;
      width: 100%;
      justify-content: left;
      text-align: left;

      li:nth-child(1){
        width: 50px;
        span {
          padding-left: 10px;
        }
      }
      li:nth-child(2){
        width: 50px;
      }
      li:nth-child(3){
        width: calc(100% - 100px);
      }
    }
  }

  .Result-entry:hover {
    background: #1d2026;
  }
}

.Dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;

  .Dashboard-Metrics {
    display: inline-flex;
    width: 100%;

    button {
      margin: 30px 10px 0 0;
      height: 50px !important;
    }
  }
  .Dashboard-Pending {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;

    span {
      width: 100%;
      text-align: left;
      padding: 10px 20px;
      color: white;
    }
  }
}
.MetricCard {
  margin: 10px 20px;
  background-color: #1f1f1f;
  background: #121418;
  border: 1px solid #2a2e38;
  border-radius: 5px;
  padding: 5px 10px 5px 0;
  color: #acacac;
  min-width: 220px;
  height: 80px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-family: Noto Sans,Inter,Poppins,Montserrat,Helvetica,Arial,sans-serif;

  h6, h3 {
    width: 100%;
    text-align: left;
    padding-left: 15px;
    font-size: 16px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 42px;
    color: white;
  }
}

.Breakdown {
  width: 350px;
  display: flex;
  border: 1px solid $primaryColor;
  .Breakdown-title {
    width: 40%;
  }
  .Viewership {
    width: 60%;

    li {
      width: 100%;
      white-space: nowrap;
      margin-left: 10px;
    }
  }
}

.CasinoList {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;

  .CasinoEntry {
    width: 200px;
    height: 100px;
    background: white;
    margin: 50px;
    border-radius: 20px;
    border: 1px solid #34383e;
    padding: 10px;

    img {
      width: 50px;
      height: 50px;
      background: #34383e;
      border-radius: 50px;
    }

    h2 {
      color:  #1a1d23;
      width: 100%;
      text-align: center;
      padding-top: 10px;
    }
  }
}


.ChartTooltip {
  color: white;
  padding: 5px;
  background-color: rgba(34, 34, 34, 0.6);
  border: 2px solid rgba(34, 34, 34, 0.8);
  display: inline-flex;
  text-transform: uppercase;
  font-size: 11px;
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: column;

}

.ChartTooltip p {
  font-weight: 600;
  font-size: 9px;
  //margin-left: -30px;
  overflow: hidden;
  white-space: nowrap;
}

.ChartTooltip ul {
  list-style: none;
}

.ChartTooltip li {
  text-align: left;
  //background: red;
  padding: 0;
  width: 100%;
}

.ChartTooltip .Headings {
  width: 75px;
  display: flex;
  flex-direction: row;
}

.ChartTooltip .Headings li {
  width: 75px;
  p {
    width: 75px;
    //margin-left: -30px;
  }
}

.ChartTooltip .Values {
  width: 75px;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

