$primaryColor: #886CFF;

.Raffle-view {
  width: 100%;
}

.Giveaway-card {
  margin-bottom: 50px;
}


.GiveawayContent {
  .Links {
      li {
        min-height: 130px;
        max-height: 130px;
       }
    }
}

.Inspect-return {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0;
  justify-content: left;
  cursor: pointer;

  a {
    padding: 0;
    width: 150px;
    text-decoration: none !important;
    display: inline-flex;
    justify-content: space-between;
  }

  span {
    color: white;
    font-size: 18px;
    padding-top: 10px;
  }

  svg {
    color: white;
    margin: 8px 0;
  }
}

.Raffle-Main {
  width: 100%;
  display: flex;
  justify-content: center;

  .RaffleContent-View {
    padding: 15px 10px;
    width: 100%;

    .RaffleHeading {
      margin-left: 10px;
      font-weight: 800;
      text-align: left;
      color: white;
      font-size: 28px;
      padding: 0 25px 10px 0;
    }

    .Entries-list {
      width: 100%;
      display: inline-flex;
      justify-content: space-evenly;
      padding-bottom: 10px;

      .Streamer {
        width: calc(100% - 50px);
        border: 1px solid #2a2e38;
        display: flex;
        flex-direction: column;
        -moz-box-align: start;
        align-items: start;
        gap: 0.25rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background: #121418;
        color: #9e9e9e;
      }

      .Entries {
        width: calc(50% - 50px);
        border: 1px solid #2a2e38;
        display: flex;
        flex-direction: column;
        -moz-box-align: start;
        align-items: start;
        gap: 0.25rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background: #121418;
        color: #9e9e9e;
      }

      ul {
        list-style: none;
        text-align: left;

        li:first-child {
          font-weight: 800;
          font-size: 12px;
          margin-bottom: 5px;
        }

        li:nth-child(2) {
          color: white;
          font-weight: 800;
          font-size: 18px;
        }
      }
    }

    .RaffleAction {
      margin-top: 5px;
      font-size: 18px;
      font-weight: 600;
      padding: 15px 4px;
      text-align: center;
      width: calc(100% - 30px);
      display: inline-flex;
      justify-content: center;
      border-radius: 5px;
      bottom: 0;
      cursor: pointer;
      background-color: #886cff !important;
      border: 2px solid #886cff;
      border-radius: 5px !important;
      color: #001440;
      font-weight: 600;
    }
  }

  .Raffle-overview {
    width: 600px;
    display: flex;

    .Raffle-image {
      width: 100%;
      display: flex;
      justify-content: right;

      img {
        width: 160px;
        height: 160px;
        margin: 100px 50px 0 0;
        border-radius: 50%;
      }
    }

  }
}

.table-header {
  height: 70px;
  width: calc(100% - 40px);
  border-bottom: 1px solid #2a2e38;
  display: inline-flex;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: content-box;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  .Bet-size-filter {
    display: flex;
    justify-content: right;
  }
}
.table-header::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.Raffle-participants {
  h2 {
    color: #9e9e9e;
    padding: 25px 0;
  }
  .Raffle-bets-table {
    width: 100%;

    .raffle-table {
      height: 500px;
      width: 100%;

      .RaffleSpend {
        font-weight: 800;
        font-size: 18px;
        img { padding-right: 5px; }
      }

      h5 {
        padding-top: 15px;
        width: 150px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
      }

      h3 {
        width: 150px;
        font-weight: 800;
        text-align: center;
        color: white;
        font-size: 18px;
        padding: 0 25px 10px 0;
      }

      .Participant-image {
        width: 150px;
        display: flex;
        justify-content: center;
        padding: 15px 0;

        img {
          width: 60px;
          border-radius: 50%;
        }
      }
    }
    .table-pagination {
      height: 60px;
      width: 100%;
    }
  }
}

.Raffle-status {
  width: 100%;
  padding: 25px 0;
  border-bottom: 2px solid #2a2e38;
  color: $primaryColor;
  font-weight: 600;
  background: #121418;
}