

.ProvablyFairModal {
  position: fixed;
  min-width: 600px;
  background-color: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 15px 5px #00000050;
  border: 1px solid rgba(34, 34, 34, 1);
  top: 50px;
  left: 100px;
  display: none;
  z-index: 9999999999;

  &.active {
    display: block;
  }

  .Modal-header {
    background-color: rgba(6, 7, 8, 0.3);
    border-bottom: 1px solid rgba(6, 7, 8, 0.5);
    backdrop-filter: blur(5px);
    color: white;
    padding: 0 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;

    p {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      margin: 0;
    }

    span {
      font-size: 21px;
    }
  }

  .Modal_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0;
  }
}
